body{
  background-color: #E4F9f5;
  text-align: center;
}

a{
  display: block;
  margin: 2rem;
}

.projects{
  font-family: "Merriweather",serif;
  margin-top: 5rem;
}

#btn{
  color: #66BFBF;
  font-size: 2rem;
  border-radius: 10%;
}
